.navegation ul li {
    display: inline-block;
    padding: 5px;
    background-color: green;
    border-radius: 3px;
}
.navegation ul li a{
    color: white;
    text-decoration: none;
}
.descricao {
    display: inline-block;
}
.artigo {
    display: inline-block;
    margin-right: 20%;
}
.laterald aside a{
    font-size: 30px;
    background-color: blue;
    color: white;
    text-decoration: none;
    padding: 50px;
    display: inline-block;
    margin-left: 85%;
}
.rodape {
    text-align: center;
}