.first {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.second, .third {
    display: inline-block;
}
ul {
    text-align: center;
}
.lista-valor {
    text-align: center;      
}
.lista-valor ul li {
    display: inline;
}